@import "~bootstrap/scss/bootstrap";
@import '~swiper/swiper-bundle';

.single-slider {
    width: 100%;
    height: auto;
    margin-bottom: 1px solid #ddd;

    @media screen and (max-width: 510px) {
        display: none;
    }

    .single-slider-image {
        max-height: 100px;
        max-width: 100px;
        height: 100px;
        width: 100px;
        margin-right: 4px;
    }
}
